*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #093B4C;

}

#main_container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main{
    max-width: 900px;
    margin: 0 auto;
}

.main h1{
    color: white;
    text-align: center;
    font-size: 52px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% - 120px) / 7 );
    height: 100px;
    font-weight: 700;
    opacity: 0.4;
}

.box:hover{
    transform: translateY(-15px);
    opacity: 1;
}

.container > *{
    font-size: 22px;
    text-align: center;
}

.square{
}

.square_number{
    background-color: #1989b2;
}

.square_fizzbuzz{
    background-color: #F0466F;
}

.square_fizz{
    background-color: #0bd6a1;
}

.square_buzz{
    background-color: #fed065;
}